<html>
    <head>
        <title>Lista de compra</title>
    </head>
    <h1>Las listas de compra para mi</h1>
    ><h2>Primera lista de mercadona, segunda eroski y tercera al moro</h2>
    
    <body>
        <strong>Liesta de la compra mercadona</strong>
        <ul><li>2 Garrafas de agua de 6L</li></ul><ul><li>5 botellas de nesti</li></ul>
        </div>

        <div>
        <strong>Liesta de la compra eroski</strong>
        <ul><li>2 bocadillo de serrano</li></ul><ul><li>2 donuts</li></ul>
    </body>
</html>
